ul {
  list-style: none;
  width: 100%;
}
ul li {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
}
.instrument-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.instrument-list-item {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-color: gray;
  border: 2px solid black;
}
