
.MuiFormControl-root{
    z-index: 500;
    background-color: white;
    width: 500px;
    position: fixed

}
.container-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.container-info{
    width: 25%;
}
.mapa-container{
    overflow: hidden;
    height: 500px;
    width: 60%;
}