.section-principal{
    width: 100vw;
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
    vertical-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.section-principal img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
.section-jams{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}
.section-jams h2{
    width: 100%;
}
.container-info{
    width: 36%;
}